# Blockchain Configuration
MONAD_TESTNET_RPC='YOUR_MONAD_TESTNET_RPC_URL'

# Allnads Contracts Addresses
MONAD_TESTNET_ALLNADS_CONTRACT_ADDRESS=0xaeFD9d3471d5C76407F1A3F750Cbe255b5BA194C
MONAD_TESTNET_ALLNADS_COMPONENT_CONTRACT_ADDRESS=0x8DF326e1E7c06F9236B98CE94aeb9eaB2f0B1Cbd
MONAD_TESTNET_ALLNADS_COMPONENT_QUERY_CONTRACT_ADDRESS=0xD5514E2116a26A8efC0E064561409E207202dAE6
MONAD_TESTNET_ALLNADS_ACCOUNT_CONTRACT_ADDRESS=0x5c944e1cA7Eed36a719D28A487956C2d9892C447

# Server Configuration
USE_HTTP=true
PORT=8081

ALLNADS_SERVER_API_URL='YOUR_ALLNADS_SERVER_API_URL'
ALLNADS_SERVER_API_KEY='YOUR_ALLNADS_SERVER_API_KEY'

# Privy Authentication Configuration
PRIVY_APP_ID='YOUR_PRIVY_APP_ID'
PRIVY_APP_SECRET='YOUR_PRIVY_APP_SECRET'